{% extends '::base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Количка</h1>
                </div>

                {% if app.session.flashBag.has('success') %}
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            {% for msg in app.session.flashBag.get('success') %}
                                <li>
                                    {{ msg }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">

            <div class="row">

                <div class="col-md-12 clearfix" id="basket">

                    <div class="box">

                        <form method="post" action="{{ path('cart_update') }}">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Продукт</th>
                                        <th style="text-align: center">Количество</th>
                                        <th style="text-align: center">Наличност</th>
                                        <th style="text-align: center">Единична цена</th>
                                        <th style="text-align: center">Общо</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in cart_products %}
                                        {% if product.product %}
                                        <tr>
                                            <td align="center">
                                                <a href="#">
                                                    <img src="{{ asset('uploads/images/' ~ product.product.imageUrl) }}" alt="White Blouse Armani">
                                                </a>
                                            </td>
                                            <td align="center"><a href="#">{{ product.product.name }}</a>
                                            </td>
                                            <td align="center">
                                                <input type="number" value="{{ product.qty }}" class="form-control" name="quantity[{{ product.id }}]">
                                            </td>
                                            <td align="center">{{ product.product.quantity }} бр.</td>
                                            <td align="center">{{ calc.Calculate(product.product) | number_format(2) }} лв.</td>
                                            <td align="center">{{ product.productPrice }} лв.</td>
                                            <td align="center"><a href="{{ path('cart_delete_product', {'id': product.id}) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        {% else %}
                                            <tr>
                                                <td align="center">
                                                    <a href="#">
                                                        <img src="{{ asset('uploads/images/' ~ product.userProduct.imageUrl) }}" alt="White Blouse Armani">
                                                    </a>
                                                </td>
                                                <td align="center"><a href="#">{{ product.userProduct.name }}</a>
                                                </td>
                                                <td align="center">
                                                    <input type="number" value="{{ product.qty }}" class="form-control" name="quantity[{{ product.id }}]">
                                                </td>
                                                <td align="center">{{ product.userProduct.quantity }} бр.</td>
                                                <td align="center">{{ product.userProduct.price }} лв.</td>
                                                <td align="center">{{ product.productPrice }} лв.</td>
                                                <td align="center"><a href="{{ path('cart_delete_product', {'id': product.id}) }}"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="6">Общо</th>
                                        <th colspan="2">{{ total }} лв.</th>
                                    </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="{{ path('homepage') }}" class="btn btn-default"><i class="fa fa-chevron-left"></i> Продължете пазаруването</a>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-refresh"></i> Обнови</button>
                                    <a href="{{ path('cart_checkout', {'id': cart.id}) }}" class="btn btn-template-main">Продължете към плащане <i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col-md-9 -->

            </div>

        </div>
        <!-- /.container -->
    </div>
{% endblock %}