{% extends '::base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Преглед на поръчката</h1>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">

            <div class="row">

                <div class="col-md-12 clearfix" id="basket">

                    <form method="post">

                        <div class="box">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Продукт</th>
                                        <th style="text-align: center">Количество</th>
                                        <th style="text-align: center">Единична цена</th>
                                        <th style="text-align: center">Общо</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in cart_products %}
                                        {% if product.product %}
                                            <tr>
                                                <td>
                                                    <img src="{{ asset('uploads/images/' ~ product.product.imageUrl) }}">
                                                </td>
                                                <td>{{ product.product.name }}</td>
                                                <td align="center">{{ product.qty }}</td>
                                                <td align="center">{{ calc.Calculate(product.product) | number_format(2) }} лв.</td>
                                                <td align="center">{{ product.productPrice }} лв.</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>
                                                    <img src="{{ asset('uploads/images/' ~ product.userProduct.imageUrl) }}">
                                                </td>
                                                <td>{{ product.userProduct.name }}</td>
                                                <td align="center">{{ product.qty }}</td>
                                                <td align="center">{{ product.userProduct.price }} лв.</td>
                                                <td align="center">{{ product.productPrice }} лв.</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="6">Общо</th>
                                        <th colspan="2">{{ total }} лв.</th>
                                    </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.box -->

                        <div class="box">

                            <h4>Детайли за доставката</h4>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">Име</th>
                                            <th style="text-align: center">Фамилия</th>
                                            <th style="text-align: center">Град</th>
                                            <th style="text-align: center">Пощ. код</th>
                                            <th style="text-align: center">Адрес</th>
                                            <th style="text-align: center">Email</th>
                                            <th style="text-align: center">Телефон</th>
                                            <th style="text-align: center">Метод на плащане</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">{{ cart.shipFirstName }}</td>
                                            <td align="center">{{ cart.shipLastName }}</td>
                                            <td align="center">{{ cart.shipCity }}</td>
                                            <td align="center">{{ cart.shipZipCode }}</td>
                                            <td align="center">{{ cart.shipAddress }}</td>
                                            <td align="center">{{ cart.shipEmail }}</td>
                                            <td align="center">{{ cart.shipPhone }}</td>
                                            <td align="center">{{ cart.paymentMethod }}</td>
                                            <td align="center">
                                                <a href="{{ path('cart_checkout', {'id': cart.id}) }}" class="btn btn-template-main btn-sm">Редакция</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                            <div class="box-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-template-main">Потвърдете поръчката<i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
                <!-- /.col-md-12 -->

            </div>

        </div>
        <!-- /.container -->
    </div>

{% endblock %}

