{% extends 'base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            {% if app.session.flashBag.has('success') %}
                <div class="row">
                    <div class="col-md-8">
                        {% for msg in app.session.flashBag.get('success') %}
                            <h1>{{ msg }}</h1>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box">
                    <h2 class="text-uppercase">Редактиране на продукт</h2>

                    <hr>

                    {{ form_start(editForm) }}
                    {{ form_row(editForm.name) }}
                    {{ form_row(editForm.description) }}
                    {{ form_row(editForm.size) }}
                    {{ form_row(editForm.quantity) }}
                    {{ form_row(editForm.price) }}
                    {{ form_row(editForm.imageUrl) }}
                    {{ form_row(editForm.category) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Редактиране</button>
                        <a class="btn btn-template-main" href="{{ path('products_list') }}">Отказ</a>
                    </div>
                    {{ form_end(editForm) }}
                </div>
            </div>


        </div>
    </div>
{% endblock %}

