{% extends 'base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>{{ category.name }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">

            <div class="row">


                <!-- *** LEFT COLUMN ***
        _________________________________________________________ -->

                <div class="col-sm-3">

                    <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Категории</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked category-menu">
                                {% for currentCategory in categories %}
                                    {% if category.name == currentCategory.name %}
                                        <li class="active">
                                            <a href="{{ path('products_by_category', {'id': currentCategory.id}) }}">{{ currentCategory.name }} <span class="badge pull-right"></span></a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('products_by_category', {'id': currentCategory.id}) }}">{{ currentCategory.name }} <span class="badge pull-right"></span></a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    <a href="{{ path('userproducts_list') }}">Продукти на други потребители <span class="badge pull-right"></span></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- /.col-md-3 -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN ***
        _________________________________________________________ -->

                <div class="col-sm-9">


                    <div class="row products">
                        {% for product in products %}
                            <div class="col-md-4 col-sm-6">
                                <div class="product">
                                    <div class="image">
                                        <a href="{{ path('view_product', {'id': product.id}) }}">
                                            <img src="{{ asset('uploads/images/' ~ product.imageUrl) }}" alt="" class="img-responsive image1">
                                        </a>
                                    </div>
                                    <!-- /.image -->
                                    <div class="text">
                                        <h3><a href="{{ path('view_product', {'id': product.id}) }}">{{ product.name }}</a></h3>
                                        {% set promotional_price = calc.Calculate(product) %}
                                        {% if promotional_price != product.price %}
                                            <p class="price">
                                                <del>{{ product.price | number_format(2) }} лв.</del> {{ promotional_price | number_format(2) }} лв.
                                            </p>
                                        {% else %}
                                            <p class="price">{{ product.price }} лв.</p>
                                        {% endif %}
                                        <p class="buttons">
                                            <a href="#" class="btn btn-default">View detail</a>
                                            <a href="#" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </p>
                                    </div>
                                    <!-- /.text -->
                                    {% if promotional_price != product.price %}
                                        <div class="ribbon sale">
                                            <div class="theribbon">SALE</div>
                                            <div class="ribbon-background"></div>
                                        </div>
                                        <!-- /.ribbon -->
                                    {% endif %}
                                </div>
                                <!-- /.product -->
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /.products -->


                    <div class="pages">

                        <p class="loadMore">
                            <a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
                        </p>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a>
                            </li>
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /.col-md-9 -->

                <!-- *** RIGHT COLUMN END *** -->

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


    <!-- *** GET IT ***
_________________________________________________________ -->
{% endblock %}

