{% extends 'base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Списък на промоциите</h1>
                </div>

                {% if app.session.flashBag.has('success') %}
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            {% for msg in app.session.flashBag.get('success') %}
                                <li>
                                    {{ msg }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">


            <div class="row">

                <!-- *** LEFT COLUMN ***
         _________________________________________________________ -->

                <div class="col-md-12">

                    <div class="box">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="text-align: center">ID</th>
                                    <th style="text-align: center">Намаление</th>
                                    <th style="text-align: center">Начална дата</th>
                                    <th style="text-align: center">Крайна дата</th>
                                    <th style="text-align: center">Брой категории в промоцията</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for promotion in promotions %}
                                    <tr>
                                        <th style="text-align: center">{{ promotion.id }}</th>
                                        <td align="center">{{ promotion.percent }} %</td>
                                        <td align="center">{{ promotion.startDate | date('d-m-Y') }} г.</td>
                                        <td align="center">{{ promotion.endDate | date('d-m-Y') }} г.</td>
                                        <td align="center">{{ promotion.categories.count }}</td>
                                        <td align="center">
                                            <a href="#" class="btn btn-template-main btn-sm">Редакция</a>
                                            {% if promotion.categories.count == 0 %}
                                                <a href="{{ path('category_promotion_add_category', {'id': promotion.id}) }}" class="btn btn-template-main btn-sm">Добаряне на категории</a>
                                            {% endif %}
                                            <a href="#" class="btn btn-template-main btn-sm">Изтриване</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.box -->

                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->

{% endblock %}

