{% extends 'base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Списък на потребителите</h1>
                </div>

                {% if app.session.flashBag.has('success') %}
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            {% for msg in app.session.flashBag.get('success') %}
                                <li>
                                    {{ msg }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">


            <div class="row">

                <!-- *** LEFT COLUMN ***
         _________________________________________________________ -->

                <div class="col-md-12">

                    <div class="box">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="text-align: center">ID</th>
                                    <th style="text-align: center">Статус</th>
                                    <th style="text-align: center">E-mail</th>
                                    <th style="text-align: center">Име</th>
                                    <th style="text-align: center">Населено място</th>
                                    <th style="text-align: center">Адрес</th>
                                    <th style="text-align: center">Сума за покупки</th>
                                    <th style="text-align: center">Роли</th>
                                    <th style="text-align: center">Действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <th style="text-align: center">{{ user.id }}</th>
                                        {% if user.status.name == 'active' %}
                                                <td align="center"><span class="label label-success">{{ user.status.name }}</span>
                                        {% elseif user.status.name == 'deleted'  %}
                                                <td align="center"><span class="label label-danger">{{ user.status.name }}</span>
                                        {% else %}
                                                <td align="center"><span class="label label-warning">{{ user.status.name }}</span>
                                        {% endif %}
                                        <td align="center">{{ user.email }}</td>
                                        <td align="center">{{ user.fullName }}</td>
                                        <td align="center">{{ user.city }}</td>
                                        <td align="center">{{ user.address }}</td>
                                        <td align="center">{{ user.cash }} лв.</td>
                                        <td align="center">{{ user.rolesAsString }}</td>
                                        <td align="center">
                                            <a href="{{ path('users_edit', {'id': user.id}) }}" class="btn btn-template-main btn-sm">Редакция</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.box -->

                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->

{% endblock %}