{% extends 'base.html.twig' %}

{% block body %}

    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Добавяне на промоция за продукти</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box">

                    <hr>

                    {{ form_start(createPromotionForm) }}
                    {{ form_row(createPromotionForm.percent) }}
                    {{ form_row(createPromotionForm.startData) }}
                    {{ form_row(createPromotionForm.endData) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Добавяне</button>
                        <a class="btn btn-template-main" href="{{ path('products_list') }}">Отказ</a>
                    </div>
                    {{ form_end(createPromotionForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}