{% extends 'base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Списък на категориите</h1>
                </div>

                {% if app.session.flashBag.has('success') %}
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            {% for msg in app.session.flashBag.get('success') %}
                                <li>
                                    {{ msg }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">


            <div class="row">

                <!-- *** LEFT COLUMN ***
         _________________________________________________________ -->

                <div class="col-md-12">

                    <div class="box">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="text-align: center">ID</th>
                                    <th style="text-align: center">Име</th>
                                    <th style="text-align: center">Действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <th style="text-align: center">{{ category.id }}</th>
                                        <td align="center">{{ category.name }}</td>
                                        <td align="center">
                                            <a href="{{ path('categories_edit', {'id': category.id}) }}" class="btn btn-template-main btn-sm">Редакция</a>
                                            <a href="{{ path('categories_delete', {'id': category.id}) }}" class="btn btn-template-main btn-sm">Изтриване</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.box -->

                </div>

            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->

{% endblock %}

